extends layout

block content
  if auth
    include ./fragments/auth-nav.jade
  else
    include ./fragments/un-auth-nav.jade
  
  .container
    .row
      .col-xs-12.text-center
        h1.head Dark theme Pinterest styled Pins
    .cont 
      each dat in data
        .grid
          img.cover(src=dat.src onError="this.onerror=null;this.src='http://placehold.it/200x300';")
          .caption
              p(style="word-wrap: break-word") #{dat.name}
    .clearfix
    div.foot.text-center
      a(href="http://www.freecodecamp.com/awalthefirst" target="_blank") fcc@awalthefirst  
      p |
      a(href="https://twitter.com/awwalthefirst" target="_blank") twitter
    
            
          
