extends layout

block content
  include ./fragments/un-auth-nav.jade
  .container
    h1.well.well-sm Log In
      if(error !== undefined)
        small.error  * error: #{error}
    .col-lg-12.well
      .row
        form(method="post" action="/auth/login")
          .col-sm-12
            .form-group
              label Email Address
              input.form-control(type='email', name="email" required placeholder='Enter Email ')
       
            .form-group
              label Password
              input.form-control(type='password', name="password" required placeholder='Enter Password')
            button.btn.btn-lg.btn-info(type='submit') Log In